body{
	font-family: 'Montserrat', sans-serif;
	background-color: #000;
}
h1, h2{
	margin:0;
	padding:0;
}
hr{ margin:30px 0; }
.hero {
    background-color: #000;
    margin-bottom: 10px;
    padding: 25px 0 0 0;
    color: #fff;
}
.hero h1{
	font-size: 3.75rem;
	line-height: 3.75rem;
	margin: 0 0 10px 0;
}
.hero h2{
	font-size: 1.5rem;
	margin: 0 0 10px 0;
}
.hero .lead {
	font-size: 1.3rem;
  margin: 0 0 10px 0;
}
.hero img {
	display: block;
	width: 60%;
  border-radius: 90%;
	margin: 0 auto 20px auto;
	border: 3px solid #fff;
}
.hero-links i{ margin-right:10px; }
.hero-links a{
    margin-bottom: 10px;
    margin-right: 25px;
    color: #fff;
		font-size: 1.2em;
		display: block;
}
.hero-links a:hover i{ color:#E57F23; }
.main-content{ background-color: #fff; }
.main-content-body{ padding: 50px 10px 80px 10px; }
.main-content-body img{
	padding: 5px;
	border: 1px solid #666;
	border-radius: 5px;
	margin: 15px 0 0 0;
}
footer {
	background-color: #000;
	padding:30px;
	color:#fff;
}
footer .hero-links{
	font-size:10px;
	margin-top:10px;
}
@media (min-width: 768px) {
	.hero{ 
	  margin-bottom:25px;
	  padding:25px 0;
  }
	.hero h1 {
		font-size: 5.75rem;
		line-height: 5rem;
	}
	.hero h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 20px 0;
	}
	.hero .lead {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0 20px 0;
	}
	.hero img { width: 90%; }
	.hero-links a { display: inline-block; }
	.main-content-body{ padding: 50px 10px 80px 10px; }
	.main-content-body img{	margin: 0; }
}